<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solution | Water Jug Problem</title>
    <style>
      .svg-container {
        display: flex;
        justify-content: space-evenly;
      }
    </style>
  </head>
  <body>
    <div class="svg-container">
      <div>
        <h1>BFS Search Tree</h1>
        <div id="bfs-tree-container">{{ bfs_svg_string | safe }}</div>
      </div>
      <div>
        <h1>DFS Search Tree</h1>
        <div id="dfs-tree-container">{{ dfs_svg_string | safe }}</div>
      </div>
    </div>
  </body>
</html>
